<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">フリマアプリ<span class="text-muted"><br>フリマのクローンサイト</span></h2>
    <p class="lead">フリーマーケットのアプリを作成しました。<br>Basic認証をかけているため、以下のIDとPASSを入力してください。<br>- ID : furima <br>- PASS : 33976<br>
    <br>以下のログインIDを使用するとスムーズにアプリケーションを操作できます<br>購入者用アカウント<br>- email : test@email.com <br>- PASS:test11 <br>出品者用アカウント<br>- email : test2@email.com <br>- PASS : test22</p>
  </div>
  <div class="col-md-5 order-md-1">
    <%= link_to image_tag("furima.jpg", size: '500x500'), 'https://furima-33976.herokuapp.com/'%>

  </div>
</div>